* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B91450;
}

.contained {
    width: 70%;
    max-width: 1000px;
    margin: auto;
}

h2 {
    color: white;
    text-transform: uppercase;
    margin: 20px 0;
}

label {
    color: #B91450;
    font-weight: 600;
}

#buyData {
    background-color: white;
    box-shadow: 6px 6px 15px 10px rgb(0 0 0 / 20%);
    border-radius: 15px;
}

input, select {
    border: 1.5px solid #B91450;
    border-radius: 5px;
    height: 35px;
    margin: 10px 25px;
}

.dataBox > * {
    display: block;
}

.dataBox {
    display: inline-block;
}

.btn {
    background-color: lightgrey;
    color: #B91450;
    font-weight: bold;
    margin: 0 10px;
}