* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #B91450;
}

.contained {
    width: 70%;
    max-width: 1000px;
    margin: auto;
}

h2 {
    color: white;
    text-transform: uppercase;
    margin: 20px 0;
}

label {
    color: #B91450;
    font-weight: 600;
}

#buyData {
    background-color: white;
}

input, select {
    border: 1.5px solid #B91450;
    border-radius: 3px;
    height: 35px;
    margin: 10px 20px;
}

.dataBox > * {
    display: block;
}

.dataBox {
    display: inline-block;
}